body {
  background: #fafafa;
  color: #333333;
  margin-top: 6rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #1d2124; 
}
.mr-auto, .mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}

img.navbar-brand.mr-4 {
    width: 90px;
}

.site-header .navbar-nav .nav-link {
 color: rgba(255, 255, 255, 0.4);
 transition: all .1s ease;
}

.site-header .navbar-nav .nav-link:hover {
 color: rgba(255, 255, 255, 1); 
}

.site-header .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 1);
}
                                  /* NAV ANIMATION */

.cl-effect-1 a::before,
.cl-effect-1 a::after {
display: inline-block;
opacity: 0;
transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
margin-right: 5px;
content: '[';
transform: translateX(20px);
}

.cl-effect-1 a::after {
margin-left: 5px;
content: ']';
transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
opacity: 1;
transform: translateX(0px);
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  max-width: 800px;
  width: 100%;
}

.bgimage {
  width:100%;
  height:500px;
  background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  margin-top: -25px;
  margin-bottom: 20px;
  display: flex;
}
.container-fluid{
  display: flex;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}
.bgimage p{
 color:white;
 max-width: 800px;
}
.col-lg-12.col-md-12.col-sm-12.col-xs-12{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;   
}
.col-md-12 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
}
.col-md-12 h1{
   align-self: flex-start;
}


a.nav-item.nav-link {
   align-self: flex-start;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
