body {
  background: #fafafa;
  color: #333333;
  margin-top: 6rem;
}
main {
  min-height: 75vh;
}
header{
font-family: Unica One;
font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
.header-bg{
    position: relative;
    width: 100%;
    height: 10px;
    top: 0;
}

.bg-steel {
  background-color: #1d2124; 
}
.mr-auto, .mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}
.navbar-brand .album-photo{
    padding-top: 0;
    padding-bottom: 0;
}  

.container img {
    height: 90px;
}

.site-header .navbar-nav .nav-link {
 color: rgba(255, 255, 255, 0.4);
 transition: all .1s ease;
}

.site-header .navbar-nav .nav-link:hover {
 color: rgba(255, 255, 255, 1); 
}

.site-header .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 1);
}
                                  /* NAV ANIMATION */

.cl-effect-1 a::before,
.cl-effect-1 a::after {
display: inline-block;
opacity: 0;
transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
margin-right: 5px;
content: '[';
transform: translateX(20px);
}

.cl-effect-1 a::after {
margin-left: 5px;
content: ']';
transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
opacity: 1;
transform: translateX(0px);
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  max-width: 800px;
  width: 100%;
}

.bgimage {
  width:99.1vw;
  min-height:100vh;
  background: url('https://raw.githubusercontent.com/frankc95/set09103/master/bop/static/img/bg1.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size:cover;
  background-attachment: fixed;
  margin-top: -25px;
  display: flex;
}
.2{
  background: url('https://raw.githubusercontent.com/frankc95/set09103/master/bop/static/img/_DSC0918.jpg');
}
img.bgimage-image {
    height: 300px;
    margin-bottom: 100px;
}
img.featurette-image.img-fluid.mx-auto {
    width: 80%;
    height: auto;
}
.row.featurette {
    justify-content: space-evenly;
}
hr.featurette-divider {
    margin: 30px 0;
}
.order-scd{
    align-self: flex-end;
}
.col-md-6 p{
    text-align: center;
    margin-top: 20px;    
}
img.rounded-circle {
    height: 140px;
    width: 140px;
    object-fit: contain;
    object-position: center;
    margin: 10px;
    padding: 3px;
    background-color: black;
}
.col-lg-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.container-fluid{
  display: flex;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}
.bgimage p{
 color:white;
 max-width: 800px;
}
.col-lg-12.col-md-12.col-sm-12.col-xs-12{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;   
}
.col-md-12 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
}
.col-md-12 img{
   padding-top:0;
}
.col-md-12 h1{
   align-self: flex-start;
}
input.form-control:focus {
    border-color: red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(240, 49, 40, 0.6);
}
textarea.form-control:focus {
    border-color: red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(240, 49, 40, 0.6);
}
.btn-outline-info {
    color: red;
    border-color: red;
}
.btn-outline-info:hover {
    background-color: red;
    border-color: red;
}
a.nav-item.nav-link {
   align-self: flex-start;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px!important;
  width: 65px!important;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.insta-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.title-home h1{
  color: white;
  font-family: Unica One;
}
.instaimg img{
  height: 400px;
  width: 100%;
  object-fit: cover; 
}
#crs-wrapper{
  max-width: 1024px;
  width: 80vw;
}
.slick-dots{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.slick-dots button{
  border-radius: 50%;
  border: none;
  font-size: 0;
  background-color: white;
  width: 10px;
  height: 10px;
  display: block;
  padding: 0;
  margin: 0 10px;
}
.slick-active button{
  background-color:red;
}

.slick-arrow {
  font-size: 0;
  background: none;
  border: none;
}
button.slick-prev.slick-arrow {
    position: absolute;
    left: -40px;
    top: 170px;
}
button:hover.slick-prev.slick-arrow {
    color:red;
}
button.slick-next.slick-arrow {
    position: absolute;
    right: -40px;
    top: 170px;
}
.slick-prev::after {
  content: '\f060';
  font-family: 'Font Awesome 5 Free';
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}
.slick-next::after {
  content: '\f061';
  font-family: 'Font Awesome 5 Free';
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}
@media screen and (min-width: 995px){
    .navbar-expand-md .navbar-toggler {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    }
}
@media screen and (min-width: 995px){
    .navbar-expand-md .navbar-toggler {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    }
}

